*.o
aclocal.m4
.deps/
autom4te.cache/
config.log
config.status
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
configure
Makefile
Makefile.in
src/config.h
src/config.h.in
src/config.h.in~
src/mcqr
slurm-*.out
